/* 
    General Styles
*/
body{
    background: rgb(32, 32, 32);
}
.head{
	padding-bottom: 120px;
}
.navbar{
	position: fixed;
	width: 100%;
	display: flex;
    background: rgb(19, 19, 19);
	height: 100px;
	z-index: 3;
	
}

.dropdown{
	margin-left: 30px;
	z-index: 3;
	margin-right: 20px;
	padding: 0px;
}

.logo{
    align-items: center;
    width: 200px;
	z-index: 3;
	
}

.btn-grad {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 120px;
	height: 40px;
	background: #cfcfcf;
	color: rgb(70, 2, 19);
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 19px;
	font-weight: 500;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: .3s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	
}

.btn-grad span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;	
}

.btn-grad::after {
	content: "";
	width: 1px;
	height: 1px;
	background: none;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transition: .3s ease-in-out all;
	border-radius: 100px;
	transform-origin: center;
}

.btn-grad:hover::after {
	transform: scale(100);
	background: #360311;
    
}

.btn-grad:hover {
	background: #270000;
    color: #f1f2f3;
}

.footer{
	width: 100%;
	height: 30px;

	
}

