/* 
    General Styles
*/
body{
    background: rgb(32, 32, 32);
}

.navbar{
	position: fixed;
	width: 100%;
	display: flex;
    background: rgb(19, 19, 19);
	height: 100px;
	z-index: 3;
	
}

.dropdown{
	margin-left: 30px;
	z-index: 3;
	margin-right: 20px;
}

.logo{
    align-items: center;
    width: 200px;
	z-index: 3;
	
}

.btn-grad {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 50px;
	background: #cfcfcf;
	color: rgb(70, 2, 19);
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 19px;
	font-weight: 500;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: .3s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	
}

.btn-grad span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
	
	
}

